@import 'mixins';

//fonts variables 
$roboto: 'Roboto',
sans-serif;
$poppins: 'Poppins',
sans-serif;

// font-weights
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//paddings
$padding:18px 0px;


$colors: (grey: #555555,
    light-grey: #e1e1e1,
    blue: #68899a,
    gold: #ded3aa);

//displaying color variable
@function color($color-name) {
    @if map-has-key($colors, $color-name) {
        @return map-get($colors, $color-name);
    }
}

$breakpoints: (xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px);


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: $roboto;
    line-height: 1.45rem;
    color: color(grey);

}

a {
    color: color(blue);
    text-decoration: none;
    font-weight: 700;
}

a.black {
    color: #000000;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
}

p {
    padding: $padding;
}

h1 {
    color: black;
    font-size: 1.7rem;
    padding: $padding;
}

.wrapper {
    display: flex;

    @include respond-below(sm) {
        padding: 0 10px;
        flex-direction: column;
    }

    @include respond-above(xl) {
        width: 1133px;
        margin: 0 auto;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
    border-bottom: 1px solid color(gold);
    margin-bottom: 10px;
}


#brand {
    color: black;
    font-family: $poppins;
    font-weight: $black;
    text-transform: uppercase;
    font-size: 2.3rem;
    text-align: center;
    padding: 30px 0px;

    @include respond-below(sm) {
        width: 100%;
        order: 1;
    }
}

@import '_language';

button.cart {
    border: 2px solid color(gold);
    background-color: white;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;

    @include respond-above(sm) {
        position: absolute;
        top: 15px;
        right: 10px;
    }

    @include respond-below(sm) {
        position: relative;
        order: 3;
        width: 33%;
        padding: 10px 20px;
    }
}

@import '_nav';
// Additional styling for the stars
@import '_rating';


.fav-search {
    position: absolute;
    bottom: 0px;
    right: 20px;

    i:first-child {
        padding-right: 10px;
    }

    i:last-child {
        padding-left: 10px;
        border-left: 1px dotted color(grey);
    }

    @include respond-below(sm) {
        display: none;
    }
}


//------------
article {
    display: flex;

    width: 100%;

    @include respond-below(md) {
        flex-direction: column;
    }
}

@import '_gallery';
@import '_product-info';



footer {
    margin-top: 60px;
    color: color(light-grey);
    border-top: 1px solid color(light-grey);
    padding: $padding;
    text-align: center;
    font-size: 0.7rem;
    text-transform: uppercase;
}