* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.45rem;
  color: #555555;
}

a {
  color: #68899a;
  text-decoration: none;
  font-weight: 700;
}

a.black {
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
}

p {
  padding: 18px 0px;
}

h1 {
  color: black;
  font-size: 1.7rem;
  padding: 18px 0px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575px) {
  .wrapper {
    padding: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1133px;
    margin: 0 auto;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #ded3aa;
  margin-bottom: 10px;
}

#brand {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.3rem;
  text-align: center;
  padding: 30px 0px;
}

@media (max-width: 575px) {
  #brand {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 576px) {
  .language-switcher {
    position: absolute;
    top: 30px;
    left: 10px;
  }
}

@media (max-width: 575px) {
  .language-switcher {
    position: relative;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 33%;
  }
}

.language-switcher select {
  border: none;
  font-size: 0.7rem;
}

button.cart {
  border: 2px solid #ded3aa;
  background-color: white;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
}

@media (min-width: 576px) {
  button.cart {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}

@media (max-width: 575px) {
  button.cart {
    position: relative;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 33%;
    padding: 10px 20px;
  }
}

nav {
  position: relative;
}

@media (min-width: 576px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (max-width: 575px) {
  nav {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 33%;
    position: relative;
    text-align: right;
  }
}

nav a {
  color: black;
  text-transform: uppercase;
  font-weight: 300;
}

nav a:hover {
  font-weight: 700;
}

nav li {
  display: inline;
  padding: 0 10px;
}

@media (max-width: 575px) {
  nav li {
    display: block;
    padding: 20px 10px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  nav .menu {
    display: none;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 33%;
    position: relative;
    text-align: right;
  }
}

nav .menu-active {
  display: block;
  position: absolute;
  background-color: #ded3aa;
  width: 100vw;
  padding: 30px 20px 30px 20px;
  top: 50px;
  right: -10px;
  border-bottom: 3px solid #ded3aa;
}

.burger {
  display: none;
}

@media (max-width: 575px) {
  .burger {
    display: inline;
  }
  .burger i {
    padding-right: 15px;
  }
}

.rating {
  --uiRatingSize: var(--ratingSize, 20px);
  --uiRatingColor: var(--ratingColor, rgb(212, 212, 212));
  --uiRatingColorActive: var(--ratingColorActive, #ded3aa);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--uiRatingSize);
  color: var(--uiRatingColor);
  position: relative;
}

.rating__control {
  position: absolute;
  left: -9999px;
}

.rating__control:nth-of-type(1):focus ~ .rating__item:nth-of-type(1):before,
.rating__control:nth-of-type(2):focus ~ .rating__item:nth-of-type(2):before,
.rating__control:nth-of-type(3):focus ~ .rating__item:nth-of-type(3):before,
.rating__control:nth-of-type(4):focus ~ .rating__item:nth-of-type(4):before,
.rating__control:nth-of-type(5):focus ~ .rating__item:nth-of-type(5):before {
  content: "";
  position: absolute;
  top: -.15em;
  right: 0;
  bottom: -.15em;
  left: 0;
  z-index: -1;
}

.rating__item {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  position: relative;
}

.rating__item {
  padding-left: .25em;
  padding-right: .25em;
}

.rating__star {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.rating__label {
  position: absolute;
  top: 0;
  left: -9999px;
}

.rating:hover,
.rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2),
.rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3),
.rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4),
.rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5) {
  color: var(--uiRatingColorActive);
}

.rating__item:hover ~ .rating__item {
  color: var(--uiRatingColor);
}

.rating {
  --ratingSize: 15px;
  --ratingColor: #e5e5e5;
  --ratingColorActive: #ded3aa;
}

.fav-search {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.fav-search i:first-child {
  padding-right: 10px;
}

.fav-search i:last-child {
  padding-left: 10px;
  border-left: 1px dotted #555555;
}

@media (max-width: 575px) {
  .fav-search {
    display: none;
  }
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.gallery .image-holder {
  position: relative;
}

@media (min-width: 768px) {
  .gallery .image-holder {
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .gallery .image-holder {
    height: 65vh;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .gallery {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .gallery {
    width: 100%;
    height: 90vw;
  }
}

.image-holder img {
  width: 100%;
}

nav.img-nav {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
  font-size: 40px;
  color: white;
}

nav.img-nav i:hover {
  color: black;
  cursor: pointer;
}

.thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumb-holder {
  background-color: #ded3aa;
  height: 180px;
  width: 24%;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .thumb-holder {
    height: 150px;
  }
}

.thumb-holder img {
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product-info {
  padding: 0px 15px;
}

@media (min-width: 768px) {
  .product-info {
    width: 70%;
    padding: 0 0 0 30px;
  }
}

@media (max-width: 479px) {
  .breadcrumbs {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.breadcrumbs i {
  font-size: 0.6rem;
  padding-right: 3px;
}

.product-header {
  padding: 18px 0px;
}

@media (max-width: 479px) {
  .product-header {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.product-header .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price {
  padding: 18px 0px;
  color: #68899a;
  font-weight: 700;
  font-size: 1.5rem;
}

.product-meta {
  color: black;
  font-weight: 700;
  padding: 18px 0px;
}

.product-meta ul {
  list-style: none;
}

.product-meta span {
  color: #68899a;
}

@media (max-width: 479px) {
  .product-meta {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 479px) {
  .product-description {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.product-description ul {
  list-style: none;
}

.product-description ul li {
  position: relative;
  padding-left: 10px;
}

.product-description ul li:before {
  content: '\2022';
  position: absolute;
  left: 0px;
}

.product-selection {
  margin-top: 30px;
}

@media (max-width: 479px) {
  .product-selection {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

.product-selection label {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 15px;
}

.product-selection .row {
  padding: 18px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-selection .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
}

form select,
form input {
  padding: 5px;
  border: 1px solid #e1e1e1;
  color: #555555;
}

form input {
  width: 20px;
}

.quantity {
  position: relative;
}

.quantity button {
  padding: 0px;
}

.quantity .plus,
.quantity .minus {
  position: absolute;
  padding: 0px;
  width: 30px;
  height: 15px;
  border: 1px solid #ded3aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity .plus {
  top: 38px;
  left: 19px;
}

.quantity .minus {
  top: 52px;
  left: 19px;
}

.buy {
  margin-top: 30px;
}

@media (max-width: 479px) {
  .buy {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}

.buy button {
  width: 48%;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.buy .add-cart {
  border: 1px solid #ded3aa;
  background-color: #ded3aa;
}

.buy .wishlist {
  border: 1px solid #e1e1e1;
  background-color: white;
}

.social-links {
  padding: 18px 0px;
}

@media (max-width: 479px) {
  .social-links {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
}

footer {
  margin-top: 60px;
  color: #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding: 18px 0px;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */